extends layout

block content
  div.intro
    h1= title
    p Welcome to #{title}
  div.board

  .status
    p#log NOTHING HERE FOR NOW JUST A PLACEHOLDER
  .options
    label(for="X") Who's playing 'X'?
    input(type=text name="X" id="xName")
    //- Select box for color of marker
    //- Select for player or CPU
    br
    label(for="O") Who's playing 'O'?
    input(type=text name="O" id="Oname")
    //- Select box for color of marker
    //- Select for player or CPU
    br
    button#new-game New Game



