doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(href="https://fonts.googleapis.com/css?family=Bangers&display=swap", rel="stylesheet") 
    link(href="https://fonts.googleapis.com/css?family=Cantarell|Indie+Flower|Bangers&display=swap", rel="stylesheet") 
  body
    block content
  script(src='/javascripts/main.js')